.projectBtn {
    background-color: #f13c1f;
    color: white;
}

.projectBtn:hover {
    background-color: #666666;
    border-color: #666666;
    color: white;
}

.smallerBox{
    margin-right: 60%;
}
/*
 class red en black zijn voor op de pagina detailsConsultant
*/
.red{
    color:#f13c1f;
}
.black{
    color:black;
}