#addNewProjectBtn:hover {
    background-color: #333333;
    color: white;
}

#addConsultantBtn, .detailsConsultantBtn, #addKlantBtn, #addProjectBtn, #genPDF {
    background-color: #f13c1f;
    color: white;
}

#addConsultantBtn:hover, #addKlantBtn:hover, #addProjectBtn:hover, #genPDF:hover {
    background-color: #555555;
    color: white;
}

.addConsultantBtn{
    background-color: #f13c1f;
    color: white;
}

#detailsConsultantBtn:hover {
    background-color: #666666;
    color: white;
}

#changePasswordBtn {
    background-color: #e5e5e5;
}

#project-wrapper table td {
    border-bottom: 1px solid #e5e5e5;
}


/*
 class red en black zijn voor op de pagina detailsConsultant
*/
.red{
    color:#f13c1f;
    font-weight: bold;
    font-size: 1.1em;
}
.black{
    color:black;
    font-weight: normal;
}

.normal{
    width: 20%;
    margin: auto;
}