body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}

/* this is used to always have the same right margin of the left navigation bar*/
:root {
    --rightWrapperMargin: 25px;
  }

#wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}

#leftWrapper{
    flex: 2;
    color: white;
    background-color: #4B4B4B;
}

#leftWrapper h4{
    text-align: center;
    padding-top: 10vh;
    margin-bottom: 5vh;
}

#leftWrapper img{
    margin-left: 13%;
    margin-right: 10%;
    width: 20px;
    margin-bottom: 5px;
}

#leftWrapper a{
    color: #ffffff;
    margin-bottom: 0px;
    padding: 10px 0px;
    font-size: 1.2em;
    display: block;
    align-items: center;
    border-top: 1px solid #707070;
}

#leftWrapper a:last-of-type{
    border-bottom: 1px solid #707070;
}

#leftWrapper a:hover{
    background-color: #B85858;
    cursor: pointer;
    text-decoration: none;
}

#rightWrapper{
    flex: 7;
    display: flex;
    flex-direction: column;
    background-color: #E9E9E9;
}

#topmenu{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #ffffff;
    padding-right: 3%;
}

#topmenu img{
    margin: 0px 10px;
    width: 25px;
}

#topmenu img:hover{
    cursor: pointer;
}

#navigation{
    flex: 2;
    display: flex;
    align-items: center;
    padding-left: var(--rightWrapperMargin);
    color: #707070
}

#navigation img{
    width: 25px;
}

#navigation span{
    margin-left: 15px;
}

#panel{
    flex: 14;
    padding-left: var(--rightWrapperMargin);
}




