body {
    background-color: white;
}

#login-wrapper {
    background-color: white;
    width: 30%;
    margin-top: 7%;
    border-radius: 10px;
}

.card-header {

}

#login-button, #changePasswordBtn {
    background-color: #F13C1F;
    color: white;
}

.input-group-text{
    background-color: white;
    color: #333333;
    border-color: lightgray;
}

@media (max-width: 992px) {
    #login-wrapper {
        width: 60%;
    }

}

@media (max-width: 767px) {

    body {
        background-color: white;
    }

    #login-wrapper {
        width: 90%;
        border-radius: 5px;
        margin: 20% auto;
    }

}