.timesheetsBtn {
    background-color: #e5e5e5;
    border: #e5e5e5;
}

.timesheetsBtn:hover {
    background-color: #333333;
    color: white;
}

.timesheetDate {
    color: #f13c1f;
    margin-bottom: 25px;
    margin-top: 25px;
}

hr{
    margin-top: 0px;
}

.timesheetBody{
    line-height: 10px;
}

.timesheetBody p {
    margin-right: 2rem;
}

#extraEntryBtn {
    background-color: #e5e5e5;
}

#toevoegenTimeEntryBtn, #toevoegenCallInSickBtn, #toevoegenTakeVakationBtn {
    background-color: #f13c1f;
    color: white;
}

#callInSickBtn {
    background-color: #f13c1f;
    color: white;
}