#addTimeBtn {
    background-color: #e5e5e5;
    border: #e5e5e5;
}

#addTimeBtn:hover {
    background-color: #333333;
    color: white;
}

.timesheetDate {
    color: #f13c1f;
    margin-bottom: 20px;
    margin-top: 2px;
}

hr{
    margin-top: 0px;
}

#addTimesheetBtn, #cancelAddTimesheetBtn,
#modifyTimesheetBtn, #cancelModifyTimesheetBtn, #toevoegenCallInSickBtn, #toevoegenTakeVakationBtn
{
    background-color: #f13c1f;
    color: white;
}

#addTimesheetBtn:hover, #modifyTimesheetBtn:hover, #cancelAddTimesheetBtn:hover, #cancelModifyTimesheetBtn:hover
{
    background-color: #555555;
}

#callInSickBtn {
    background-color: #f13c1f;
    color: white;
}